@{
    ViewBag.Title = "Gallery";
}
<div class="item">

    <img src="~/pictures/WonderWomen.jpg" height="300" width="400" />
    <img src="~/pictures/superman.jpg" height="300" width="400" />
    <img src="~/pictures/hulk.png" height="300" width="400" />

    <img src="~/pictures/captain america and iron man.png"height="300" width="400" />
    <img src="~/pictures/batman.jpg" height="300" width="400" />
    <img src="~/pictures/g1.jpg" height="300" width="400" />
    <img src="~/pictures/g2.jpg" height="300" width="400" />
    <img src="~/pictures/g3.jpg" height="300" width="400" />
    <img src="~/pictures/gaudians.jpg" height="300" width="400"/>
    <img src="~/pictures/spiderman.jpg" height="300" width="400"/>
    <img src="~/pictures/ninja turtles.jpg" height="300" width="400" />
</div>