@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
   
    <title>
        <h1> SuperHeroes</h1>  
    </title>
    <style>
        body {
            /*background-image: url(" ");*/
            background-position: center;
            height: 750px;
            background-image: url('../../pictures/2356332-bigthumbnail.jpg');
            background-position: center;
            background-repeat: no-repeat, repeat;
            padding: 15px;
        }
    </style>

    

</head>

<body>

</body>
</html>